body{
    background-color: rgb(253, 251, 251);
    padding: 3%;
}

#titulo{
    text-align: center;
}

#menu_navegacao{
    list-style-type: none;

}

#cabecalho{
    height: 130px;
    width: 1366px;
    position: fixed;
    top: 0;
}

#minha_foto{
    margin-top: 140px;
}

#licoes_aprendidas{
    display: inline-block;
}

#licoes_a_aprender{
    display: inline-block;
}

#meu_aprendizado{
    display: inline-block;
}

#passagem_aprendizado{
    display: inline-block;
}

#rodape{
    position: fixed;
    bottom: 0;
}